body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
    color:white ;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 6px solid #ff7e00;
    position: fixed;
    z-index: 100;
}

.navb{
    right: 0;
    position: absolute;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.navb-open{
    clip-path: circle(150% at top right);
}
.navb ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navb li{
    border-bottom: 1px solid white ;
}
.navb a{
    color:#ff7e00;
    display:block;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    top: .5em;
    right: .5em;
}
.navb a:hover,
.nav a:focus{
    background-color:#ff7e00 ;
    color: white;
}

@media(min-width:200px){
    .menu-toggle{
        display: none;
    }
    .header{
        border-bottom: 6px solid #ff7e00;
    }
    .navb{
        position: absolute;
        background: transparent;
        float: right;
        top:10px;
        bottom: 0px;
        height: 0px;
        margin-left: 200px;
        margin-right: 10px;
        clip-path: initial;
    }
    .navb li{
        display: inline-block;
        border: none;
    }
    .navb a{
        padding: 0;
        margin-right: 10px;
    }
    
    .navb a:hover,
    .navb a:focus{
        color: white;
        border-radius: 5px;
    }

}